body {
  background: darkblue;
  overflow: hidden;
}

.bird {
  position: absolute;
  width: 70px;
  height: 25px;
  border-top-right-radius: 150%;
  border-bottom-right-radius: 150%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 10%;
    right: 110%;
    width: 10px;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid red;
    border-top: 10px solid red;
    border-bottom: 10px solid red;
  }

  &:after {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    transform: translate(-50%);
    border-top-right-radius: 70%;
    border-bottom-right-radius: 70%;
    background: white;
  }
}

.counter {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  left: 80%;
  background: #ff5f40;
  color: black;
  padding: 25px;
  margin: 40px;
  font-size: 40px;
}

.hunter {
  height: 60px;
  width: 100px;
  background: green;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translate(-50%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  &:after {
    content: '';
    height: 10px;
    width: 140px;
    top: 60%;
    left: -20px;
    justify-self: center;
    position: absolute;
    background: greenyellow;
  }
}

.bullet {
  position: absolute;
  height: 30px;
  width: 10px;
  border-radius: 50%;
  background: yellow;
  transform: translate(
    -50%
  ); // Setzt das Element genau in die Mitte seiner Umgebung
}
